@model IEnumerable<Category>;
@{
    ViewData["Title"] = "Categories";
}

<partial name="_Notification" />
<h1>@ViewData["Title"]</h1>
<a asp-controller="Category" asp-action="Create">Create</a>
 
<br/><hr/><br/>
<div>
    @foreach (var obj in Model)
    {
        <div>Name:@obj.Name</div>
        <div>Display Order:@obj.DisplayOrder</div>
        <div><a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">Edit</a></div>
        <div><a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">Delete</a></div>
        <br/><br/>
    }
</div>
