@model IEnumerable<Category>;
@{
    ViewData["Title"] = "Categories";
}
<h1>@ViewData["Title"]</h1>
<a asp-controller="Category" asp-action="Create">Create</a>
 
<br/><hr/><br/>
<div>
    @foreach (var obj in Model)
    {
        <div>Name:@obj.Name</div>
        <div>Display Order:@obj.DisplayOrder</div>
        <br/><br/>
    }
</div>
